body {
  background-color: rgb(27, 27, 27);
  font-family: Roboto;
  text-align: center;
  margin: 10%;
  color: whitesmoke;
}

h1 {
  font-size: 3em;
  /* font-color: red; */
}

h3 {
  font-size: 1.5em;
  font-weight: 100;
}

b .numbers {
  font-size: 2em;
  /* visibility: hidden; */
  margin: 0px;
}

h3 .numbers {
  font-size: 2em;
  /* visibility: hidden; */
  margin: 0px;
}

.img {
  width: 10em;
  height: 10em;
}

#img {
  width: 10em;
  height: 10em;
}

.spotifyButton {
  background-color: #1db954;
}

.formButton {
  width: 100;
  height: 60;
}
